[build]
  publish = "dist"
  command = "npm run build"
[build.processing.html]
  pretty_urls = false
[[headers]]
  for = "/_astro/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
[[redirects]]
  from = "/admin/config.yml"
  to = "/admin/config.yml"
  status = 200
  force = true
[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200
[[redirects]]
  from = "/admin/"
  to = "/admin/index.html"
  status = 200
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200
